[flake8]
ignore = D415 W605 W503 E203
max-line-length = 79
docstring-convention = google
per-file-ignores =
    setup.py: D100
    */__init__.py: D104,F401
    examples/*: D100,D101,D102,D103,D105,D107
    kfac/*: D100,D101,D102,D103,D105,D107
exclude = docs,.git,.github,__pycache__,build,dist,.*egg-info
