black
covdefaults>=2.2
coverage
flake8
flake8-bugbear
flake8-docstrings
mypy
numpy
pep8-naming
pre-commit
protobuf==3.20.2
pytest
pytest-cov
torchvision>=0.9.0; python_version < "3.11"
tox
types-tqdm
typing_extensions; python_version < "3.8"
virtualenv
