name: integration

on:
  push:
    branches: [main, test-me-*]
    tags:
  pull_request:
  workflow_dispatch:

jobs:
  integration:
    timeout-minutes: 15

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Get pip cache dir
        id: pip-cache-dir
        run: echo "PIP_CACHE_DIR=$(pip cache dir)" >> $GITHUB_ENV

      - name: Use pip cache
        id: pip-cache
        uses: actions/cache@v4
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: integration-ubuntu-latest-pip-3.10-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            integration-ubuntu-latest-pip-3.10

      - name: Install KFAC
        run: python -m pip install . --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Install Dependencies
        run: python -m pip install --upgrade torchvision --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Run MNIST Integration Test
        run: python tests/integration/mnist_integration_test.py
